$font-path: '../styles/fonts/';
$icon-font-path: $font-path;
$fa-font-path: '../styles/fonts';
$roboto-font-path: '../styles/fonts';

@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "roboto-fontface/roboto-fontface.scss";

@import "mixins";
@import "variables";

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
}

html, body {
  background-color: #2f3135;
  background-image: $background-image;
  color: #fff;
  height: 100%;
  font: 17px/1.4 'Roboto',sans-serif;
  text-align: left;
}

::-moz-selection {
  text-shadow: none;
  background: #ccc;
}

::selection {
  text-shadow: none;
  background: #ccc;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

a, a:hover, a:focus {
  color: #bb0000;
}

.btn-default {
  background-color: #bb0000;
  border-color: #7b0000;
  color: #fff;
  &:hover {
    background-color: #c80000;
    border-color: #7b0000;
    color: #fff;
  }
  &:focus {
    background-color: #fff;
    border-color: #f2f2f2;
    color: #bb0000;
  }
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
  a {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.65);
    font-weight: 700;
  }
}

/* Custom page header */
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0 20px;
  height: 80px;
  h3 {
    margin: 0;
    line-height: 80px;
    display: none;
    img {
      @include set(width, (xs: 220px, sm: 280px, md: 280px, lg: 280px) );
      &.logo-small {
        height: 38px;
        width: 39px;
        margin-top: 21px;
      }
    }
  }
  &.sticky-header {
    background-color: #2f3135;
    background-image: $background-image;
    h3 {
      display: block;
    }
  }
}

/* Bootstrap nav overwrite */
.nav {
  padding-top: 18px;
}

.nav-pills {
  a {
    color: #fff;
    &:hover {
      color: #bb0000;
    }
  }
  > li.active > a, > li.active > a:hover, > li.active > a:focus {
    color: #fff;
    background-color: #bb0000;
  }
}

.nav > li > a {
  @include set(padding, (xs: 10px 8px, sm: 10px 15px, md: 10px 15px, lg: 10px 15px) );
  &:focus {
    color: #fff;
    background-color: transparent;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  font-size: 12px;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

section {
  height: auto;
  min-height: 100%;
}

/*home section */
#home {
  width: 100%;
  height: 75%;
  min-height: 0;
  background: url(../images/home_back.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  text-align: center;
  h1 {
    position: relative;
    top: 50%;
    @include set(font-size, (xs: 35px, sm: 45px, md: 55px, lg: 65px) );
    font-weight: 700;
    transform: translateY(-50%);
    margin: 0;
    .smaller {
      display: block;
      font-size: 55%;
      font-style: italic;
      font-weight: 300;
      padding-top: 10px;
    }
    img {
      @include set(width, (xs: 250px, sm: 300px, md: 350px, lg: 450px) );
    }
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    font-weight: 400;
    &.is-visible {
      position: relative;
    }
  }
  .no-js & b {
    opacity: 0;
    &.is-visible {
      opacity: 1;
    }
  }
}

/* xloading-bar */
.cd-headline.loading-bar {
  span {
    display: inline-block;
    padding: 0 0 .2em 0;
  }
  .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
    &::after {
      /* loading bar */
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      background: $color-red;
      z-index: 2;
      @include transition(width 0.3s -0.1s);
    }
    &.is-loading::after {
      width: 100%;
      @include transition(width 4s);
    }
  }
  b {
    top: .2em;
    opacity: 0;
    @include transition(opacity 0.3s);
    &.is-visible {
      opacity: 1;
      top: 0;
    }
  }
}

/* Testimonials carousels */
#testimonials {
  padding: 50px 0;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  min-height: 0;
  .carousel-control {
    background: #ddd;
    color: #bb0000;
    padding: 1px 0;
    width: 26px;
    top: auto;
    left: auto;
    bottom: 0;
    opacity: 1;
    text-shadow: none;
    border-radius: 2px;
    &.left {
      background-image: none !important;
      right: 40px;
    }
    &.right {
      background-image: none !important;
      right: 10px;
    }
    &:focus, &:hover {
      color: #bb0000;
    }
  }
}


.testimonial-img {
  position: relative;
  @include set(width, (xs: 250px, sm: 200px, md: 300px, lg: 300px) );
  height: 125px;
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  img {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    max-width: calc(100% - 40px);
  }
}

.carousel-inner blockquote {
  @include set(float, (xs: left, sm: right, md: right, lg: right) );
  @include set(width, (xs: 100%, sm: calc(100% - 220px), md: calc(100% - 320px), lg: calc(100% - 320px)) );
  @include set(font-size, (xs: 16px, sm: 20px, md: 22px, lg: 24px) );
  @include set(border-left, (xs: 0, sm: 5px solid #eeeeee, md: 5px solid #eeeeee, lg: 5px solid #eeeeee) );
  font-style: italic;
  small {
    font-style: normal;
  }
  cite {
    font-style: italic;
    font-weight: 700;
  }
}

/* About me */
#about {
  min-height: 500px;
  background-color: #030303;
  background-image: $background-image;
  padding: 50px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#about-text {
  @include set(float, (xs: none, sm: left, md: left, lg: left) );
  @include set(width, (xs: 100%, sm: calc(100% - 400px), md: calc(100% - 400px), lg: calc(100% - 400px)) );
  h3 {
    @include set(font-size, (xs: 18px, sm: 24px, md: 30px, lg: 30px) );
  }
  p {
    @include set(font-size, (xs: 14px, sm: 18px, md: 22px, lg: 22px) );
  }
}

#about-img {
  @include set(float, (xs: none, sm: right, md: right, lg: right) );
  img {
    @include set(width, (xs: 250px, sm: 380px, md: 380px, lg: 380px) );
  }
}

/* Portfolio section */
#portfolio {
  padding: 50px 0;
  h2.title {
    text-align: center;
    font-size: 36px;
  }
  h3.title {
    text-align: center;
    font-size: 26px;
    margin: 0;
    padding: 15px 0;
    a {
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    }
  }
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 1.5em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 300px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    height: auto;
    background: #303030;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.95;
      transition: opacity 0.85s, transform 0.65s;
      transform: scale3d(1.05,1.05,1);
    }
    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:before{
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        content: '';
        transition: transform 0.6s;
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
      }
      &:after {
        pointer-events: none;
      }
    }
    h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
      margin: 0;
      text-align: left;
      span {
        font-weight: 800;
      }
    }
    p {
      letter-spacing: 1px;
      font-size: 68.5%;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 3em;
      padding: 0 1em;
      max-width: 200px;
      border-right: 4px solid #fff;
      text-align: right;
      opacity: 0;
      transition: opacity 0.35s;
      a {
        text-transform: none;
        font-weight: 700;
      }
    }
    i {
      font-weight: 800;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    }
    &:hover {
      img {
        opacity: 0.6;
        transform: scale3d(1,1,1);
      }
      figcaption:before {
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
      }
      p {
        opacity: 1;
        transition-delay: 0.1s;
      }
    }
  }
}

.portfolio-modal {
  .modal-content {
    background-color: transparent;
  }
  .close {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 0.9;
  }
  .modal-header, .modal-body {
    padding: 0;
  }
  .modal-header {
    padding: 15px 0;
    border-bottom: 0;
  }
}

/* Media queries */
@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

/* Contact section */
#contact {
  height: auto;
  min-height: 0;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background: url(../images/cluj.jpg) no-repeat center center;
  background-size: cover;
  @include set(padding, (xs: 20px 0, sm: 40px 0, md: 50px 0, lg: 50px 0) );
  .container {
    margin: 50px auto;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.85);
  }
  a {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.95);
    font-weight: 700;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .modal-lg {
    width: 1100px;
  }
}